@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    min-width: 0;
}

input {
    color-scheme: dark;
}

.rdp {
    --rdp-accent-color: #BEF264;
    --rdp-background-color: #BEF264;
    --rdp-selected-color: #1A2E05;
}